@{
    ViewBag.Title = "Om..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Det var vel egentlig LED'en som kom for fullt på 70 tallet i alle farger og varianter som trigget min interesse for elektronikk.</p>
Deretter var det IT og programmering som stod i fokus men i de senere år så har interessen for elektronikk dukket opp igjen.
Det var når jeg oppdaget Arduino at det åpnet seg en ny verden.
Så; Mitt første prosjekt var en temperaturlogger som logger data i en SQL database som deretter viser dette på en web side.
raphics
<img src="~/Graphics/Arduino.png" />
<img src="~/Graphics/plus.jpg" />
<img src="~/Graphics/dht22a.jpg" />