@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
<h2>Booking</h2>
<div class="ui-grid-d">
    <div class="col-lg-pull-10">
        <ul data-role="listview" data-inset="true" data-split-icon="grid">
            <li style="height:75px" >
                <a href="">12:00-13:00</a>
            </li>
        </ul>
    </div>
    <div id="grid" class="ui-grid-d">
        <div class="ui-block-a"><div class="ui-bar ui-bar-e">12:00 - 12:45<p>Klipp Jarle Krogsether</p></div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar">12:00 - 12:45</p></div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-e">12:00 - 12:45<p>Klipp Jarle Krogsether</p></div></div>

        <div class="ui-block-b"><div class="ui-bar ui-bar">10:00 - 12:00</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-e" >12:00 - 14:00<p>Klipp Lena Krogsether</p></div></div>

        @*<div class="ui-block-b"><div class="ui-bar ui-bar-e">B</div></div>
        <div class="ui-block-c"><div class="ui-bar ui-bar-e">C</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-c">A</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-c">B</div></div>
        <div class="ui-block-c"><div class="ui-bar ui-bar-e">C</div></div>*@
    </div>

</div>
