@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Horten<br />
    Norge<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jakr007@gmail.com">Support@P6C.no</a><br />
</address>