@{
    ViewBag.Title = "BookMe";
}

@*<div class="row" style="background-image:url('/Graphics/hhlogo.png')">*@
<div class="row">
        <div class="col-md-4">
            <img src="~/Graphics/hhlogo.png" />
        </div>
        <div class="col-md-4">
            <p><b>Frisørsalong i Horten - Velkommen til oss!!</b></p>
            <table>
                <tr>
                    <td colspan="3"><b>ÅPNINGSTIDER</b></td>
                </tr>
                <tr>
                    <td>Man - Ons</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>09 - 17</td>
                </tr>
                <tr>
                    <td>Torsdag</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>09 - 19</td>
                </tr>
                <tr>
                    <td>Fredag</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>09 - 17</td>
                </tr>
                <tr>
                    <td>Lørdag</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>09 - 14</td>
                </tr>
            </table>
            <p><b>TIMEBESTILLING</b></p>
            <p>Telefon:  33 04 14 19</p>
            <p>E-post :   post@headhunters.no
            <p>ADRESSE:</p>
            <p>Storgaten 38</p>
            <p>3182 Horten</p>

</div>
    </div>